<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title th:text="修改我的信息"></title>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/plugin.css" rel="stylesheet"/>
    <link href="css/swiper.min.css" rel="stylesheet"/>
    <link href="css/profit.css" rel="stylesheet"/>
    <link href="img/icon.png" rel="icon" type="image/x-icon"/>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
    <script type="text/javascript" src="js/layer.js"></script><link href="css/layer.css" type="text/css" rel="styleSheet" id="layermcss"/>
    <script type="text/javascript" src="js/emoji.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
    <script type="text/javascript" src="js/popodataime.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <style type="text/css">
    div.item{padding: .1rem 0;font-size: .12rem;border-bottom: solid 1px #e5e5e5;width: 100%;}
    label{width:150px;display: inline-block;}
    input{display: inline-block;margin-left: .05rem;padding: 0 .1rem;color: #7a1128;border: solid 1px #7a1128;
    	border-radius: 5px;height: .23rem;line-height: .23rem;font-size: .12rem;}
    </style>
</head>
<body>
<div class="content homepage">
    <header>
        <a href="menu" class="left"><i class="fa fa-chevron-left"></i></a>
        <div class="top-tit"><label th:text="修改我的信息"/></div>
    </header>
    <div class="tb-box">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-active" style="width: 640px;">
                  <div class="item">
                      <label th:text="姓名"></label>
                      <span class="detail">
                          <input type="text" id="name" th:value="${name}"/>
                      </span>
                  </div>
                  
                  <div class="item">
                      <label th:text="微信"></label>
                      <span class="detail">
                          <input class="form-control" type="text" id="wechat" th:value="${weChat}"/> 
                      </span>
                  </div>
                  
			<div style="text-align: center">
                  <input type="submit" id="btnChange" value="提交修改"/>
                  </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnChange").click(function(){
    	var name = $("#name").val();
    	if(name == ""){
    		gm.alert("名字不能为空");
    		return;
    	}
    	var wechat = $("#wechat").val();
    	if(wechat == ""){
    		gm.alert("微信不能为空");
    		return;
    	}
    	$("#btnChange").attr("disabled", "disabled");
    	post("chgMySubmit", {name: name, weChat: wechat}, function (ret) {

            if (ret.success == true) {
            	gm.alert("修改成功");
            	setTimeout(function(){
            		window.location.href = "menu";
            	}, 	800);
            }
            else {
                gm.alert(ret.message);
            }
            $("#btnChange").removeAttr("disabled");
        });
    });
</script>
</body></html>